.profile-picture{
	width: 20px;
	display: inline;
	margin-bottom: 4px;
	margin-right: 4px;
}

.navbar-login .profile-picture{
	width: 200px;
}

.dropdown-menu{
	min-width: 290px;
}

.dropdown-menu .navbar-login{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 18px;
}