{% include "header.html" %}
    <div class="container">
<!--         <button type="button" onclick="action('products')">PRODUCTS!</button>
        <button type="button" onclick="action('time')">TIME ESTIMATES!</button>
        <button type="button" onclick="action('price')">PRICE ESTIMATES!</button>
        <button type="button" onclick="action('history')">HISTORY!</button>
        <button type="button" onclick="action('me')">ME!</button> -->
        <form method="POST" action="/request_tour">
          <div class="form-group">
            <label for="initial_location">Initial Location</label>
            <input type="text" class="form-control" name="initial_location" id="initial_location" placeholder="Initial Location">
          </div>
          <div class="form-group">
            <label for="final_location">Final Location</label>
            <input type="text" class="form-control" name="final_location" id="final_location" placeholder="Final Location">
          </div>
          <div class="form-group">
            <label for="cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="cost" placeholder="Cost">
          </div>
          <div class="form-group">
            <label for="time">Time</label>
            <input type="number" class="form-control" name="time" id="time" placeholder="Time">
          </div>
        <button class="btn btn-success" type="submit" value="request_tour">Request a Tour</button>
        </form>
    </div>
{% include "footer.html" %}